name: firefly-importer
services:
  app:
    image: "ghcr.io/rpungello/firefly-importer:${IMAGE_TAG:-latest}"
    env_file: .env
    ports:
      - '${WEB_PORT:-80}:8000'
    restart: unless-stopped
    healthcheck:
        test: ["CMD", "curl", "-f", "http://localhost:8000/up"]
  horizon:
    image: "ghcr.io/rpungello/firefly-importer:${IMAGE_TAG:-latest}"
    env_file: .env
    restart: unless-stopped
    entrypoint: ["php", "artisan", "horizon"]
    healthcheck:
        test: ["CMD", "php", "artisan", "horizon:status"]
